.all-slides {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  perspective: 500px;
  height: 400px;
  
}

.single-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 100%;
  max-height: 16rem;
  position: absolute;
  background-color: white;
  transition: 2s ease;
}

/* Left slide*/
.single-slide[data-order="1"] {
  left: 0vw;
  z-index: 1;
}

/* Middle slide */
.single-slide[data-order="2"] {
  left: 25%;
  transform: scale(1.5);
  box-shadow: -50px 50px 75px rgba(74, 85, 104, 0.5);
  z-index: 4;
}

/* Right slide*/
.single-slide[data-order="3"] {
  left: 56%;
  z-index: 3;
}

/* RightFinal slide*/
.single-slide[data-order="4"] {
  left: 81%;
  z-index: 2;
}

.single-slide:nth-child(3) {
  order: 4;
}

.single-slide:nth-child(2) {
  order: 3;
}

.single-slide:nth-child(1) {
  order: 2;
}

.single-slide:nth-child(4) {
  order: 1;
}

@media (max-width: 768px) {
  .single-slide {
    width: 40%;
    max-height: 14rem;
  }

  /* Left slide*/
  .single-slide[data-order="1"] {
    left: 10%;
    transform: scale(1.5);
    box-shadow: -50px 50px 75px rgba(74, 85, 104, 0.5);
    z-index: 4;
  }

  /* second slide */
  .single-slide[data-order="2"] {
    transform: unset;
    box-shadow: unset;
    left: 60%;
    z-index: 3;
  }

  /* third slide*/
  .single-slide[data-order="3"] {
    left: 60%;
    z-index: 2;
    opacity: 0;
  }
  /* fourth slide*/
  .single-slide[data-order="4"] {
    left: 0;
    z-index: 1;
    opacity: 0;
  }
}
